@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    background-color: #fff9f2;
    font-family: "Roboto", sans-serif;
}

.lista{
    z-index: 1;
   /* position: fixed; */
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    text-align: center;
    margin: 0;
    background-color: #e4002b;
    padding-right: 379px;
    padding-left: 380px;
}

li{
    width: 120px;
    color: white;
    background-color: #e4002b;
    padding: 10px;
    display: inline-block;
    margin: 12px 10px 12px 10px;
    font-size: 13px;
}

.whatsapp-icon{
    position: fixed;
    z-index: 1;
    font-size: 40px;
    color: greenyellow;
    bottom: 10px;
    left: 1850px;
}

li:hover{
    border: 1px solid #f7bc00;
    border-radius: 15px;
    background-color: #f7bc00;
    color: #e4002b;
}

a:hover{
    color: #e4002b;
}



table{
    width: 50%;
    text-align: center;
    font-family: "National Park", sans-serif;
    border-collapse: collapse;
    margin-left: 490px;
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 15px black;
    margin-bottom: 40px;
}

th{
    background-color: #e4002b;
    color: white;
    padding: 15px;
}

img{
    width: 100px;
    border-radius: 15px;
    height: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
}

tr:nth-child(even){
    background-color: rgba(255, 255, 255, 0.685);
}

tr:nth-child(odd){
    
    background-color: rgba(231, 207, 178, 0.685);
}

.Encabezado{
    margin-top: 70px;
    z-index: 0;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Great Vibes", cursive;
    color: #e4002b;
    font-size: 40px;
    font-weight: bold;
}

td{
    font-size: 15px;
}
